

<div class="top-header">
    <div class="container">
        <div class="top-header-left">
            <ul>

                <li><a href="/Cart/Checkout">Checkout</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        @{ Html.RenderAction("Cart", "Common");}

        <div class="top-header-right">
            <ul>
                <li>
                    @using (Html.BeginForm( "Search", "Common",FormMethod.Post))
                    {
                    <form>
                        <input type="text" name="key">
                        <input type="submit" value="" />
                    </form>
                    }
                </li>
                @{
                        var session = (UserLogin)Session[SweepCake.Common.CommonConstant.USER_SESSION];
                }
                @if (session == null)
                {
                    <li><a href="/Login/Login">Login</a></li>
                    <li><a href="/User/register">Register</a></li>
                }
                else
                {
                    <li><a href="/Login/Customer"><label>Hello @session.Name</label></a></li>
                }
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
