@model SweepCake.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<script>
    $("span.menu").click(function () {
        $(".head-nav ul").slideToggle(300, function () {
            // Animation complete.
        });
    });
</script>
<!---start-content----->

<div class="content">
    <div class="container">
        <div class="login-page">
            <div class="account_grid">
                <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                    <h3>NEW CUSTOMERS</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a class="acount-btn" href="register.html">Create an Account</a>
                </div>
                <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                    <h3>REGISTERED CUSTOMERS</h3>
                    <p>If you have an account with us, please log in.</p>
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" });
                        @*<fieldset>*@
                        <span>User Name<label>*</label></span>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                        <span>Password<label>*</label></span>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Pass, new { @class = "form-control" })
                        </div>

                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        @*</fieldset>*@
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>


